:root {
    --DisplayLargeFont: Roboto;
    --DisplayLargeSize: 57px;
    --DisplayLargeLineHeight: 64px;
    --DisplayLargeTracking: -0.25px;

    --HeadlineMediumFont: Roboto;
    --HeadlineMediumSize: 28px;
    --HeadlineMediumLineHeight: 36px;
    --HeadlineSmallTracking: -0.25px;
}