@import "/src/components/styles/global.scss";

.tablemain {
  display: flex; 
  flex-direction: column;
  width: 1920px;
  height: 1080px;
  position: relative; 
  top: 180px;
  left: 180px;
  padding: 48px 64px;
  gap: 64px; 
  background-color: #f2f2f7;
}
  
  header {
    display: flex;
    justify-content: space-between;
    width: 1792px;
    height: 108px;
  }
  
  .header-left {
    display: flex;
    flex-direction: column;
    width: 478px;
    height: 108px;
    gap: 8px;
  }

  .header-left h1 {
    width: 478px;
    height: 64px;
    font-family: var(--DisplayLargeFont);
    font-size: var(--DisplayLargeSize);
    font-weight: 400;
    line-height: var(--DisplayLargeLineHeight);
    letter-spacing: var(--DisplayLargeTracking);
    text-align: left;
  }
  
  .header-left h2 {
    width: 361px;
    height: 36px;
    font-family: var(--HeadlineMediumFont);
    font-size: var(--HeadlineMediumSize);
    font-weight: 400;
    line-height: var(--HeadlineMediumLineHeight);
    letter-spacing: var(--HeadlineSmallTracking);
    text-align: left;
  }
  
  .header-right {
    display: flex;
    flex-direction: column;
    width: 154px;
    height: 100px;
    gap: 8px;
  }

  .header-right h1 {
    width: 154px;
    height: 64px;
  }

  .header-right h2 {
    width: 154px;
    height: 28px;
  }

  .header-buttons {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-top: 60px;
  }
  
  table {
    width: 100%;
    margin-left: 16px;
  }
  
  th, td {
    width: 240px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    position: relative;
  }
  
  td {
    height: 40px;
  }
  th {
    font-weight: bold;
    color: #888;
  }
  
  .remove-button {
    margin-left: 10px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
  }
  
  .placeholder {
    color: #222020;
    font-style: normal;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    border-radius: 8px;
    text-align: left;
  }
  
  .modal-content h3 {
    margin-top: 0;
  }
  
  .modal-content pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    max-height: 500px;
    overflow-y: auto;
  }
  
  .modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }
  